div img{
  margin-left: 50%;
}



.P1 {
  display: flex;
  justify-content: space-around;
}

.tab h1 {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}

.tab h2 {
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-top: none;
}

  .P2 {
    margin-top: 20px;
}

.P2 p {
    color: yellow;
}

  table {
    width: 500px;
    border-collapse: collapse;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tabdepense{

    max-width: 500px;
  }
 table tr td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table tr:first-child td {
    background-color: green;
    font-weight: bold;
    color: white;
  }
  
  table.budget {
    background-color: white;
  }
  
  table.depense {
    background-color: white;
  }
  
  table.solde {
    background-color: white;
  }
    #titredepense{
    color: green;

   }